body {
    width: 100%;
    min-height: 87vh;
    height: max-content;
    position: relative;
    overflow:auto;
    /*display: inline-block;*/
    /*overflow: hidden;*/
    /*top: 47px;*/
    margin-bottom: 0;
}

.mainContent {
}

.student_area {
    display: flex;
    position: relative;
    overflow:auto;
    height: auto;
    /*overflow:auto;*/
    background-color: black ;
}
.left_color{
    /*width: 500px;*/
    background-color: #E7411C;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 10;
    /*z-index: -1;*/
}
.left_workview {
    /*position: fixed;*/
    height: 100vh;
    /*left: 0;*/
    /*top: 0;*/
    /*bottom: 0;*/
    display: block;
    /*position: absolute;*/
    background-color: #E7411C;
    z-index: 1;
}
#student_pic{
    background-color: black;
}
/*.left_workview_r{*/
/*    height: inherit;*/
/*    background-color: red;*/
/*    width: 100px;*/
/*}*/

#worker_name {
    font-weight: bold;
    color: white;
}
#worker_email{
    word-break: break-word;
}
.left_detail{
    word-break: break-word;
}

.left_detail {
}
.right_workview {
    display: flex;
    flex-direction: column;

    position: absolute;
    height: fit-content;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#workTitle {
    color: white;
    font-weight: bold;
}

.work_info {
    text-align: center;
    /*background-color: #E4E4E4;*/
    height: auto;
    color: white;
    position: relative;
    /*margin-bottom: 100px;*/
}

#workInfo_title{
    color: white;
}

#workInfo {
}

.work_youtube {
    display: flex;
    justify-content: center;
    height: fit-content;
}

#youtubeLink {
}

.works_images {
}

@media (min-width: 1440px) {
    .left_color{
        width: 378px;
    }
    .left_workview {
        width: 378px;
        /*height: 5000vh;*/
        overflow: hidden;
    }
    #student_pic{
        width: 260px;
        height: 347px;
        background-color: deeppink;
        margin: 58px 58px 30px;
    }
    .left_detail {
        width: 260px;
    }

    .student_profile_pic{
        width: 260px;
        height: 347px;
    }

    #worker_name {
        font-size: 24px;
        font-weight: bold;
        margin: 0 0 30px 58px ;
        color: white;
    }

    .left_detail {
        font-size: 18px;
        margin-left: 58px;
        /*margin: 10px 39px;*/
    }
    .right_workview {
        right: 0;
        left: 378px;
        padding-bottom: 400px;
        /*width: ;*/
    }

    #workTitle {
        font-size: 36px;
    }

    .work_info {
        margin: 24px 25px 100px 25px;
        top: 0px;
        width: 920px;
    }

    #workInfo_title{
        font-size: 36px;
    }

    #workInfo {
        font-size: 18px;
    }

    .work_youtube {
        left: 0;
        margin-bottom: 50px;
        /*margin: 24px 25px;*/
    }

    #youtubeLink_small {
        display: none;
    }

    .works_images {
        width: 920px;
        margin-bottom: 15px;
    }
    #youtubeLink_mid{
        display: none;
    }

    #youtubeLink_tab{
        display: none;
    }
}
@media (min-width: 1024px) and (max-width: 1439px){
    .left_color{
        width: 280px;
    }
    .left_workview {
        width: 280px;
        /*height: auto;*/
        /*min-height: 100vh;*/
        /*height: 3000vh;*/
        overflow: hidden;
        /*min-height: 100vh;*/
        /*max-height: 20000px;*/
        /*!*height: inherit;*!*/
        /*!*height: 5000vh;*!*/
        /*overflow: hidden;*/
        /*display: flex;*/
        /*flex-direction: column;*/
        /*position: relative;*/
        /*bottom: 0;*/
        /*!*height: 100%;*!*/
        /*!*height: 5000vh;*!*/
        /*!*overflow: hidden;*!*/
    }
    #student_pic{
        width: 193px;
        height: 257px;
        background-color: deeppink;
        margin: 49px 43px 25px;
    }
    .left_detail {
        width: 193px;
    }

    #youtubeLink_tab{
        display: none;
    }
    .student_profile_pic{
        width: 193px;
        height: 257px;
    }

    #worker_name {
        font-size: 24px;
        font-weight: bold;
        margin: 10px 39px;
        color: white;
    }

    .left_detail {
        font-size: 18px;

        margin: 10px 39px;
    }
    .right_workview {
        right: 0;
        /*width: ;*/
        left: 280px;
        /*display: flex;*/
        /*flex-direction: column;*/
        /*align-items: center;*/
        /*height: fit-content;*/
        padding-bottom: 200px;
    }

    #workTitle {
        font-size: 36px;
        margin: 40px 0;
    }

    .work_info {
        margin-bottom: 80px;

        width: 658px;
        /*top: 0px;*/
    }

    #workInfo_title{
        font-size: 36px;
    }

    #workInfo {
        font-size: 18px;
        margin-bottom: 80px;
    }

    .work_youtube {
        left: 0;
        margin-bottom: 40px;
        /*margin: 24px 25px;*/
    }

    #youtubeLink_small {
        display: none;
    }
    #youtubeLink{
        display: none;
    }

    .works_images {
        width: 658px;
        margin-bottom: 15px;
    }
}

@media (min-width: 768px) and (max-width: 1023px){
    .left_color{
        width: 196px;
    }
    .student_area{
    }
    .left_workview {
        width: 196px;
        /*min-height: 100vh;*/
        /*max-height: 20000px;*/
        position: relative;
        bottom: 0;
        /*height: fit-content;*/
        /*overflow: hidden;*/
        display: flex;
        flex-direction: column;
    }
    #student_pic{
        width: 138px;
        height: 184px;
        background-color: deeppink;
        margin: 36px 29px 18px;
    }
    .left_detail {
        width: 138px;
    }
    .student_profile_pic{
        width: 138px;
        height: 184px;
    }

    #worker_name {
        font-size: 20px;
        font-weight: bold;
        margin: 10px 39px;
        color: white;
    }

    .left_detail {
        font-size: 14px;

        margin: 10px 39px;
    }
    .right_workview {
        right: 0;
        /*width: ;*/
        left: 196px;
        display: flex;
        flex-direction: column;
        align-items: center;
        /*width: 100vw;*/
        height: fit-content;
        padding-bottom: 200px;
    }

    #workTitle {
        font-size: 30px;
        margin: 30px 0;
    }

    .work_info {

        width: 500px;
        margin-bottom: 60px;
        /*top: 0px;*/
    }

    #workInfo_title{
        font-size: 30px;
    }

    #workInfo {
        font-size: 14px;
        margin-bottom: 60px;
    }

    .work_youtube {
        left: 0;
        margin-bottom: 40px;
        /*margin: 24px 25px;*/
    }

    #youtubeLink_small {
        display: none;
    }
    #youtubeLink{
        display: none;
    }
    #youtubeLink_mid{
        display: none;
    }

    .works_images {
        width: 500px;
        margin-bottom: 15px;
    }
}
@media (max-width: 767px) {

    #youtubeLink_tab{
        display: none;
    }
    .work_detail_pic{
        height: fit-content;
    }
    .student_area{
        display: flex;
        flex-direction: column;
        /*min-height: 1000vh;*/
        height: 100vh;
        max-height: 200000px;
        /*position: relative;*/
        /*bottom: 0;*/
        /*max-height: 2000vh;*/
        overflow: scroll;
        padding-bottom: 200px;
    }

    .left_workview {
        width: 100vw;
        height: 615px;
        /*min-height: 615px;*/
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    #student_pic{
        width: 260px;
        height: 347px;
        /*background-color: deeppink;*/
        margin: 30px;
    }

    .student_profile_pic{
        width: 260px;
        height: 347px;
    }

    #worker_name {
        font-size: 24px;
        font-weight: bold;
        margin: 10px 39px;
        color: white;
    }

    .left_detail {
        font-size: 18px;

        margin: 10px 39px;
    }
    .right_workview {
        /*right_workviewright: 0;*/
        /*height: fit-content;*/
        top: 615px;
        width: 100vw;
        height: fit-content;
        /*height: 5000vh;*/
        /*overflow: scroll;*/
        padding-bottom: 200px;
    }

    #workTitle {
        font-size: 36px;
    }

    .work_info {
        margin: 24px 25px 100px 25px;
        /*top: 0px;*/
    }

    #workInfo_title{
        font-size: 36px;
    }

    #workInfo {
        font-size: 18px;
    }

    .work_youtube {
        left: 0;
        /*width: 100vw;*/
        margin: 24px 25px;
    }
    #youtubeLink{
        display: none;
    }
    .detail_pic{
        width: 100vw;
    }
    .works_images {
        width: 328px;
        margin-bottom: 15px;
    }
    #youtubeLink_mid{
        display: none;
    }

    #youtubeLink_mid{
        display: none;
    }
    .student_area{
        padding-bottom: 200px;
    }
    .left_color{
        display: none;
    }
}

p {
    color: white;
}