body {
    width: 100%;
    min-height: 87vh;
    height: max-content;
    position: relative;
    overflow:auto;
    /*display: inline-block;*/
    /*overflow: hidden;*/
    /*top: 47px;*/
    margin-bottom: 0;
}

.mainContent {
}

.student_area {
    display: flex;
    position: relative;
    overflow:auto;
    height: auto;
    /*overflow:auto;*/
    background-color: black ;
}

.left_workview {
    display: block;
    /*position: absolute;*/
    flex-direction: column;
    width: 472px;
    height: 500vh;
    /*width: 30vw;*/
    overflow: hidden;
    background-color: #686868;
}
#student_pic{
    width: 394px;
    height: 534px;
    background-color: deeppink;
    margin: 37px 39px 10px;
}

#worker_name {
    font-size: 24px;
    font-weight: bold;
    margin: 10px 39px;
}

.left_detail {
    font-size: 18px;

    margin: 10px 39px;
}
.right_workview {
    display: inline-block;
    position: absolute;
    left: 472px;
    right: 0;
    height: fit-content;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#workTitle {
    font-size: 36px;
    color: white;
    font-weight: bold;
}

.work_info {
    text-align: center;
    /*background-color: #E4E4E4;*/
    height: auto;
    margin: 24px 25px;
    color: white;
    position: relative;
    top: 0px;
    margin-bottom: 100px;
}

#workInfo_title{
    color: white;
    font-size: 36px;
}

#workInfo {
    font-size: 18px;
}

.work_youtube {
    display: flex;
    justify-content: center;
    left: 0;
    margin: 24px 25px;
    height: fit-content;
}

#youtubeLink {
    width: 920px;
    height: 518px;
}

.works_images {
    width: 77%;
    margin-bottom: 15px;
}