
body{ -ms-overflow-style: none; } ::-webkit-scrollbar { display: none; }
#url_team{
    display: flex;
    flex-direction: row;
}
.bannerViewMain{
    min-height: 87vh;
}
.banner_title{
    font-weight: bold;
}

.banner_top{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.banner_main{
    display: grid;
    place-items: center;
    min-height: 75vh;
    height: max-content;
}

@media (min-width: 1440px){
    .banner_main{
        grid-template-columns: repeat(4, 1fr);
        margin: 0 24px 400px;
    }
    .banner{
        width: 330px;
        height: 586px;
    }
    .banner_under{
        font-size: 24px;
    }
    .banner_main {
        grid-column-gap: 23px;
        grid-row-gap: 50px;
    }

    .banner_title{
        font-size: 36px;
        margin: 50px 0;
        color: white;
    }
}

@media (min-width: 1024px) and (max-width: 1439px){
    .banner_title{
        font-size: 36px;
        margin: 40px 0;
        color: white;
    }
    .banner_main{
        grid-template-columns: repeat(4, 1fr);
        margin: 0 24px 200px;
    }
    .banner{
        width: 226px;
        height: 400px;
    }
    .banner_under{
        margin-top: 20px;
        font-size: 18px;
    }

    .banner_main {
        grid-column-gap: 24px;
        grid-row-gap: 40px;
    }
}
@media (min-width: 768px) and (max-width: 1023px){
    .banner_main{
        grid-template-columns: repeat(4, 1fr);
        margin: 0 24px 100px;
    }
    .banner{
        width: 154px;
        height: 273px;
    }
    .banner_under{
        font-size: 14px;
    }
    .banner_main {
        grid-column-gap: 24px;
        grid-row-gap: 30px;
    }

    .banner_title{
        font-size: 30px;
        margin: 30px 0;
        color: white;
    }
}
@media (max-width: 767px) {
    .banner_main{
        grid-template-columns: repeat(2, 1fr);
        /*grid-column-gap: 20px;*/
        grid-row-gap: 30px;
        margin: 0 24px 200px;
    }
    .banner{
        width: 156px;
        height: 278px;
    }
    .banner_under{
        font-size: 14px;
    }
    .banner_title{
         font-size: 36px;
         font-weight: bold;
         margin: 20px;
         color: white;
     }
}

.banner_list{
    /*height: 500px;*/
    /*width: 330px;*/
    text-align: center;
    color: white !important;
    text-decoration: none !important;
    display: flex;
    flex-direction: column;
}
.banner_under{
    display: flex;
    flex-direction: column;
}