.footer {
    /*width: 100vw;*/
    /*position: absolute;*/
    height: 8vh;
    background-color: black;
    text-align: center;
    /*align-items: center;*/
}

#footer_text {
    font-size: 18px;
    color: white;

}