.header {
    display: flex;
    position: relative;
    top: 0px;
    background-color: #333333;
    width: 100vw;
    height: 5vh;
    align-items: center;
    /*padding: 10px 5px 2px 5px;*/
}

.header_left{
    display: table;
    position: relative;
    left: 10px;
}
.header_right{
    display: flex;
    position: absolute;
    justify-content: space-between;

    /*top: 7px;*/
    right: 10px;
    /*padding: 10px 5px 2px 5px;*/
}

.icon {
    width: 25px;
    height: 25px;
    background-color: white;
    margin-left: 5px;
    border-radius: 5px;
    justify-content: center;
    display: table-cell;
    vertical-align: middle;
    /*position: relative;*/
    /*left: 10px;*/
}

#homeIcon {
    width: 25px;
    height: 25px;
    opacity: 0;
    display: table-cell;
    vertical-align: middle;
}

.dicon_2021 {
    width: 100px;
    height: 25px;
    /*background-color: aqua;*/
    border-radius: 5px;
    margin-left: 10px;
    text-align: center;
    color: white;
    font-size: 16px;
    display: table-cell;
    vertical-align: middle;
}

.info {
    width: 40px;
    height: 25px;
    /*background-color: yellow;*/
    border-radius: 5px;
    margin-left: 10px;
    text-align: center;
    color: white;
    font-size: 16px;
    display: table-cell;
    vertical-align: middle;
}

.real_time {
    color: white;
    font-size: 14px;
    margin-top: 2.5%;
    /*text-align: ``;*/
}

.insta_header {
    width: 25px;
    height: 25px;
    background-color: deeppink;
    margin-right: 10px;
    border-radius: 5px;
    margin-top: 2%;
}

.youtube_header {
    width: 25px;
    height: 25px;
    background-color: red;
    margin-right: 10px;
    border-radius: 5px;
    margin-top: 2%;
}

