.video_back{
    width: auto;
    height: 100%;
    z-index: 1;
    position: absolute;
    top:0;

}
.hommeWrap{
    z-index: 100;
}

.pop_image_n{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
}
.pop_photo_n{
    /*position: relative;*/
    /*top: 5000px;*/
    height: 60vh;
    width: auto;
    z-index: 100;
}
.pop_image{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
}
.pop_photo{
    /*position: relative;*/
    /*top: 5000px;*/
    height: 80vh;
    width: auto;
    z-index: 100;
}

@media (min-width: 1440px) {
    .pop_photo, .pop_photo_n{
        height: 830px;
        width: auto;
        z-index: 100;
    }
}
@media (min-width: 1024px) and (max-width: 1439px) {
    .pop_photo, .pop_photo_n{
        height: 600px;
        width: auto;
        z-index: 100;
    }
}
@media (min-width: 768px) and (max-width: 1023px) {
    .pop_photo, .pop_photo_n{
        height: 60vh;
        width: auto;
        z-index: 100;
    }
}
@media (max-width: 767px) {
    .pop_photo, .pop_photo_n{
        height: 60vh;
        width: auto;
        z-index: 100;
    }
}

.hommeWrap {
    margin: 0;
    position: relative;
    /*top: 5vh;*/
    width: 100%;
    overflow: hidden;
    background-color: transparent;
}

.items {
    /*position: absolute;*/
    display: flex;
    position: relative;
    overflow:auto;
    height: auto;
    width: 100vw;
    /*overflow:auto;*/
    /*background-color: black ;*/
    /*top: 10vh;*/
    /*left:5vw;*/
}

.footer {
    /*height: 8vh;*/
    /*position: absolute;*/
    background-color: black;
    /*bottom: 0;*/
    width: 100%;
    text-align: center;
}
.link {
    display: flex;
    flex-direction: column;
    margin: 50px;
}
.four_deco_image {
    /*display: flex;*/
    /*justify-content: space-between;*/
}


.left_items{

    display: block;
    /*position: absolute;*/
    flex-direction: column;
    /*width: 472px;*/
    height: 500vh;
    /*width: 30vw;*/
    width: 100vw;
    overflow: hidden;
}

.right_items{
    display: inline-block;
    position: absolute;
    left: 472px;
    right: 0;
    height: fit-content;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.pages{
    width: 500px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: relative;
    /*left: 30vw;*/
}

.team {
    width: 500px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: relative;
    /*left: 30vw;*/
}
.home_insta_{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: fit-content;

}
.home_link{
    visibility: visible;
}
.home_youtube{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.home_notice{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.home_photo{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
@media (min-width: 1440px) {
    .hommeWrap{
        height: calc(100vh - 35px);
    }

    .home_book_img, .home_org_img, .home_staff_img, .home_banner_img, .home_professor_img, .home_youtube_img, .home_insta_img, .team_2D_img, .team_3D_img, .team_game_img, .team_ui_img, .team_vfx_img, .team_web_img, .home_type_img, .home_photo_img, .home_notice_img, .home_trash_img{
        width: 120px;
    }
    .home_book_title, .home_org_title, .home_staff_title, .home_banner_title, .home_professor_title, .home_youtube_title, .home_insta_title, .team_2D_title, .team_3D_title, .team_game_title, .team_ui_title, .team_vfx_title, .team_web_title, .home_type_title, .home_photo_title, .home_notice_title, .home_trash_title{
        font-size: 14px;
    }

    .home_link{
        display: flex;
        flex-direction: row;
        position: relative;
        top: 50px;
        left: 30px;
    }
    .home_youtube{
        margin-left: 50px;
    }

    .home_notice{
        position: absolute;
        top: 100px;
        left: 100px;
        margin-left: 50px;
    }

    .deco_1{
        position: absolute;
        bottom: 210px;
    }
    .home_photo{
        position: absolute;
        top:0;
        /*top: -50px;*/
        left: 1000px;
        margin-left: 250px;
    }
    .home_trash{
        position: absolute;
        bottom: 30px;
        left: 60px;
    }
    .home_staff{
        position: absolute;
        top: 100px;
        right: 50px;
    }
    .home_banner{
        position: absolute;
        top: 100px;
        right: 230px;
    }
    .home_org{
        position: absolute;
        top: 250px;
        right: 370px;
    }
    .home_professor{
        position: absolute;
        top: 200px;
        right: 500px;
    }
    .home_book{
        position: absolute;
        bottom: 390px;
        right: 150px;
    }
    .team_vfx{
        position: absolute;
        bottom: 240px;
        right: 50px;
    }
    .team_3D{
        position: absolute;
        bottom: 240px;
        right: 210px;
    }
    .team_2D{
        position: absolute;
        bottom: 240px;
        right: 370px;
    }
    .team_web{
        position: absolute;
        bottom: 80px;
        right: 45px;
    }
    .team_ui{
        position: absolute;
        bottom: 97px;
        right: 210px;
    }
    .team_game{
        position: absolute;
        bottom: 97px;
        right: 370px;
    }
    /*.pop_image{*/
    /*    position: absolute;*/
    /*    bottom: 0;*/
    /*    top: -500px;*/
    /*}*/
    /*.home_book, .home_org, .home_staff, .home_banner, .home_professor, .home_youtube, .home_insta, .team_2D, .team_3D, .team_game, .team_ui, .team_vfx, .team_web, .home_type, .home_photo, .home_notice, .home_trash{*/
    /*    width: 120px;*/
    /*    height: 130px;*/
    /*}*/
}
.home_book_title, .home_org_title, .home_staff_title, .home_banner_title, .home_professor_title, .home_youtube_title, .home_insta_title, .team_2D_title, .team_3D_title, .team_game_title, .team_ui_title, .team_vfx_title, .team_web_title, .home_type_title, .home_photo_title, .home_notice_title, .home_trash_title{
    /*font-size: 10px;*/
    font-weight: bold;
}


@media (min-width: 1024px) and (max-width: 1439px){
    .hommeWrap{
        height: calc(100vh - 25px);
    }
    .left_icons{
        width: 50vw;
        height: 95vh;
    }

    .home_book_img, .home_org_img, .home_staff_img, .home_banner_img, .home_professor_img, .home_youtube_img, .home_insta_img, .team_2D_img, .team_3D_img, .team_game_img, .team_ui_img, .team_vfx_img, .team_web_img, .home_type_img, .home_photo_img, .home_notice_img, .home_trash_img{
        width: 80px;
    }
    .home_book_title, .home_org_title, .home_staff_title, .home_banner_title, .home_professor_title, .home_youtube_title, .home_insta_title, .team_2D_title, .team_3D_title, .team_game_title, .team_ui_title, .team_vfx_title, .team_web_title, .home_type_title, .home_photo_title, .home_notice_title, .home_trash_title{
        font-size: 12px;
    }
    .home_link{
        display: flex;
    }
    .home_youtube{
        position: absolute;
        top: 30px;
        left: 150px;
    }
    .home_insta{
        position: absolute;
        top: 30px;
        left: 20px;
    }

    .home_notice{
        position: absolute;
        top: 60px;
        left: 60px;
        margin-left: 50px;
    }
    .home_type{
        position: absolute;
        top: 130px;
        margin-left: -40px;
    }
    .home_photo{
        position: absolute;
        top: -50px;
        left: 500px;
        margin-left: 180px;
    }
    .home_trash{
        position: absolute;
        /*bottom: 75px;*/
        top: 70vh;
        left: 60px;
    }
    .home_staff{
        position: absolute;
        top: 50px;
        right: 50px;
    }
    .home_banner{
        position: absolute;
        top: 50px;
        right: 230px;
    }
    .home_org{
        position: absolute;
        top: 150px;
        right: 330px;
    }
    .home_professor{
        position: absolute;
        top: 100px;
        right: 430px;
    }
    .home_book{
        position: absolute;
        top: 190px;
        right: 150px;
    }
    .team_vfx{
        position: absolute;
        bottom: 210px;
        right: 50px;
    }
    .team_3D{
        position: absolute;
        bottom: 210px;
        right: 150px;
    }
    .team_2D{
        position: absolute;
        bottom: 210px;
        right: 255px;
    }
    .team_web{
        position: absolute;
        bottom: 85px;
        right: 45px;
    }
    .team_ui{
        position: absolute;
        bottom: 97px;
        right: 150px;
    }
    .team_game{
        position: absolute;
        bottom: 97px;
        right: 255px;
    }
}
@media (min-width: 768px) and (max-width: 1023px){

    .hommeWrap{
        height: calc(100vh - 25px);
    }
    /*.pop_image{*/
    /*    width: 100vw;*/
    /*    margin-top: calc(-50vw + 50%);*/
    /*    top: -200px;*/
    /*    left: 17px;*/
    /*}*/

    .home_book_img, .home_org_img, .home_staff_img, .home_banner_img, .home_professor_img, .home_youtube_img, .home_insta_img, .team_2D_img, .team_3D_img, .team_game_img, .team_ui_img, .team_vfx_img, .team_web_img, .home_type_img, .home_photo_img, .home_notice_img, .home_trash_img{
        width: 80px;
    }
    .home_book_title, .home_org_title, .home_staff_title, .home_banner_title, .home_professor_title, .home_youtube_title, .home_insta_title, .team_2D_title, .team_3D_title, .team_game_title, .team_ui_title, .team_vfx_title, .team_web_title, .home_type_title, .home_photo_title, .home_notice_title, .home_trash_title{
        font-size: 12px;
    }

    .home_youtube{
        position: absolute;
        top: 30px;
        left: 150px;
    }
    .home_insta{
        position: absolute;
        top: 30px;
        left: 20px;
    }

    .home_notice{
        position: absolute;
        top: 20px;
    }
    .deco_1{
        position: absolute;
        bottom: 200px;
        left: -15px;
    }
    .deco2{
        position: absolute;
        bottom: 290px;
        left: 140px;
    }
    /*.home_photo{*/
    /*    position: absolute;*/
    /*    bottom: 0px;*/
    /*    margin-left: 180px;*/
    /*}*/
    .home_trash{
        position: absolute;
        bottom: 75px;
        left: 60px;
        /*border: 10px red solid;*/
    }
    .home_staff{
        position: absolute;
        top: 50px;
        right: 50px;
    }
    .home_banner{
        position: absolute;
        top: 50px;
        right:150px;
    }
    .home_org{
        position: absolute;
        top: 170px;
        right: 250px;
    }
    .home_professor{
        position: absolute;
        top: 120px;
        right: 360px;
    }
    .home_book{
        position: absolute;
        bottom: 330px;
        right: 110px;
    }
    .team_vfx{
        position: absolute;
        bottom: 210px;
        right: 50px;
    }
    .team_3D{
        position: absolute;
        bottom: 210px;
        right: 150px;
    }
    .team_2D{
        position: absolute;
        bottom: 210px;
        right: 255px;
    }
    .team_web{
        position: absolute;
        bottom: 100px;
        right: 45px;
    }
    .team_ui{
        position: absolute;
        bottom: 115px;
        right: 150px;
    }
    .team_game{
        position: absolute;
        bottom: 115px;
        right: 255px;
    }
}
@media (max-width: 767px) {
    .pop_photo_trash{
        width: 90vw;
        height: auto;
    }
    .hommeWrap{
        height: calc(100vh - 25px);
    }
    .home_book_img, .home_org_img, .home_staff_img, .home_banner_img, .home_professor_img, .home_youtube_img, .home_insta_img, .team_2D_img, .team_3D_img, .team_game_img, .team_ui_img, .team_vfx_img, .team_web_img, .home_type_img, .home_photo_img, .home_notice_img, .home_trash_img{
        width: 65px;
    }
    .home_book_title, .home_org_title, .home_staff_title, .home_banner_title, .home_professor_title, .home_youtube_title, .home_insta_title, .team_2D_title, .team_3D_title, .team_game_title, .team_ui_title, .team_vfx_title, .team_web_title, .home_type_title, .home_photo_title, .home_notice_title, .home_trash_title{
        font-size: 10px;
    }
    .home_youtube{
        position: fixed;
        top: 45px;
        right: 20px;
    }
    .home_insta{
        position: fixed;
        top: 45px;
        right:95px;
    }

    /*.home_notice{*/
    /*    position: absolute;*/
    /*    top: 20px;*/
    /*}*/
    .deco{
        position: fixed;
        top: 45px;
        left: -60px;
    }
    .deco_1{
        position: fixed;
        top: 165px;
        left: -60px;
    }
    .deco2{
        position: fixed;
        top: 165px;
        left: 35px;
    }
    .home_photo_title{
        margin-top: 10px;
    }
    /*.home_photo{*/
    /*    position: absolute;*/
    /*    bottom: 0px;*/
    /*    margin-left: 180px;*/
    /*}*/
    .home_trash{
        position: fixed;
        top: 145px;
        right: 20px;
    }
    .home_staff{
        position: fixed;
        top: 145px;
        right:115px;
    }
    .home_banner{
        position: fixed;
        top: 45px;
        left: 120px;
    }
    .home_org{
        position: fixed;
        top: 295px;
        left: 115px;
    }
    .home_professor{
        position: fixed;
        top: 285px;
        left: 20px;
    }
    .home_book{
        position: fixed;
        bottom: 350px;
        right: 25px;
    }
    .team_vfx{
        position: fixed;
        bottom: 230px;
        right: 20px;
    }
    .team_3D{
        position: fixed;
        bottom: 230px;
        right: 120px;
    }
    .team_2D{
        position: fixed;
        bottom: 230px;
        right: 225px;
    }
    .team_web{
        position: fixed;
        bottom: 105px;
        right: 20px;
    }
    .team_ui{
        position: fixed;
        bottom: 117px;
        right: 120px;
    }
    .team_game{
        position: fixed;
        bottom: 117px;
        right: 225px;
    }
}

#worker_workLink {
    color: white;
    text-decoration: none;
}

#worker_workLink:visited {
    color: white;
    text-decoration: none;
}

.pop_photo{
    /*position: absolute;*/
    /*top: -100px;*/
}

img {
    /*-webkit-touch-callout: default;*/
    /*-webkit-user-select: none;*/
    /*-khtml-user-select: none;*/
    /*-moz-user-select: none;*/
    /*-ms-user-select: none;*/
    /*user-select: none;*/
    -webkit-user-drag: element;
}