.hommeWrap {
    height: 95vh;
    margin: 0;
    position: relative;
    /*top: 5vh;*/
    width: 100%;
    overflow: hidden;
    background-color: black;
}

.items {
    /*position: absolute;*/
    display: flex;
    position: relative;
    overflow:auto;
    height: auto;
    /*overflow:auto;*/
    background-color: black ;
    /*top: 10vh;*/
    /*left:5vw;*/
}

.footer {
    height: 8vh;
    position: absolute;
    background-color: black;
    bottom: 0;
    width: 100%;
    text-align: center;
}
.link {
    display: flex;
    flex-direction: column;
    margin: 50px;
}
.four_deco_image {
    /*display: flex;*/
    /*justify-content: space-between;*/
}

#deco_1 {
    display: flex;
}

#deco_3 {
    display: flex;
}

.left_items{

    display: block;
    /*position: absolute;*/
    flex-direction: column;
    width: 472px;
    height: 500vh;
    /*width: 30vw;*/
    overflow: hidden;
    /*background-color: #686868;*/
}

.right_items{
    display: inline-block;
    position: absolute;
    left: 472px;
    right: 0;
    height: fit-content;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.team {
    width: 500px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: relative;
    left: 30vw;
}