/*body {*/
/*    !*height: 100vh;*!*/
/*}*/

.mainBody {
    background-color: black;

    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */

    /*grid-template-rows: max-content max-content 1fr;*/
}

.mainBody::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}

/*.footer {*/
/*    !*height: 50px;*!*/
/*}*/